<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.no-one.BrcmInjector.0a5c.6412</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BrcmInjector.0a5c.6412</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>0a5c_6412</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.no-one.BrcmPatchRAM2</string>
			<key>DisplayName</key>
			<string>Dell Wireless 1820A Bluetooth 4.1 LE</string>
			<key>FirmwareKey</key>
			<string>0a5c_6412_v4689</string>
			<key>IOClass</key>
			<string>BrcmPatchRAM2</string>
			<key>IOMatchCategory</key>
			<string>BrcmPatchRAM2</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>25618</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BrcmFirmwareStore</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.no-one.BrcmFirmwareStore</string>
			<key>Firmwares</key>
			<dict>
				<key>0a5c_6412_v4689</key>
				<data>
				eJztfVmW5DqW3H+thpiB+sO4/yXJzC7o4ZF6VaVWq9U6
				OuWRniRIEMRw5wH+98c//MTn8W61v/29lq0Lj3vy8+we
				Y/HRP9H16RJu7ZODSzX0+HMWyuNTvt9yv/V+2/32+x33
				O+933e++32NfvNy+7n79/Yb7jfeb7jffb7nfer+NX1/d
				efpZHOe5H5ziBS0U/D9TeiJaffrzcAa8e3590vjb32fd
				uIepcs/C/zGnPPPE1MRUggs1+MB7D9pI+G/G4zm3DoOc
				j0vzzODs7WrS5v2p85zv6+U4HXM8/ft6yE/lccezv6/7
				3B+rb9/bOtfPrs+/vl5v/Wfe6/fYnt/1/bq3/2gnRDuu
				+vt6ve1j7d2v995PmX9cf+fh+Qf1n9O+x7uXy9b/M+51
				WxsXz/v0eKbVqZ86Nrdo7D77a87DOyfzd/2KK7dvBJKf
				voXPVObv6/6Opb9z+0LRuxZ/jvGiGq79vl5uf/64/g2U
				wd71a7ZaVZUAvOLRFc9XqrdF0ONaIGz6+HlCNTpqTC5A
				zBE4g7uOrWPs9ehpz7/cA1vDgrvbkXFb6fcY7/jTZ02X
				19p4Vz5vvMd865R7nLfNC26fuQxvvfn8zKhHM4S7eu/f
				9ZjR4cq5kFrfV95Z9G/5QmZ4e9J4Kznn8xHe+xCAg0DY
				++bqYjmgXU/varW3T1PuM5PWLxcd1nR4DVO1uv+57bq3
				1XQELWEcVyyqZkC/46lPAmHKhyv2L+6vyrGjtep+4NE+
				F64+uP0u0Dslwo5xbG3WubN0J/wdy9vp5/cHhA2Vp1eF
				iL/6NtueFmusLOsuygngxjLrqVyT7meR3qfxWO+fyjXr
				fmeXUS4CXE7VVLm55ljeHCLLHqT9fR4PtdDC53mWI7r0
				Ps9yQhfe51lebakcd2S5p27361YjfXW7P/dkecwxWT5E
				PJbXWJ/yeEb3tt4VH05CD13zWScoCcuxxztVwqo+u9Zo
				EJdQHnHofklam9ALMWLp3olH91QOgIc/yjUHriSecCCG
				WDewJlCC52w0Lr7UQPfID37OPvcJY/10LMd77ILt3/D9
				R5n8NuDNUwAguA5GgaqfXZCLdlBlpp53WU8C5kQsagRg
				QK7AtwGmM77owcH5wvkCl0aLqQMHO56p4KcdgAQumgHp
				GdQn7w3Aak/uG+ib8MX1QoIwcH9iDgK+DjiC+2gXrWJu
				8HUx6euB0fxi1mPHuzveTQpTycIj2sa7Ma0UeOJGf9d8
				0iqYLgdRIGptIpGwResnKCOEIbwb7yeOsp8YSx4LX1wD
				Zc4D12IEwRv4NjB6jocA/g/6hl67D7KmBvg5WBj9H/V/
				1f+6/lNv6urU1aXaS7VX/VWP7Dsfjp/3/mgDM5nAISv6
				eAqQF/X09Ii/68UJKDzp0f9R/1f9r+tf7eletv9VI6tG
				ed564sAOUDnJe539bfxN/Q03TowhlmdQvgDu5DLfvzze
				P19b0dokSKSPr/gr+Ev6iz6+bbR/1sbR38bf0t/0U8/l
				Z/2z58LW38Lf1N8IfM7/q+ci/0gWBplvTPjLeg4w+M+e
				SxA/k30c/gCuyb3PdYe5/AfPSR78i+/FWP9fh7HT8CZp
				xf/bsPffGPtXGNur1ibPIp7w34S9/8bYv3puZa1NgSz+
				l5jL7whriTvn//d47JUJ/mNY4b+h/T/Ccf4RLAKKy8/s
				/sDaH9c/sITrX6vxAyu4nn6uT9NvKhHwBy5QJ/7U+Vl3
				YtLXCv/ztfT/Xsv/3FqeqbVptKf8R9f1/9RaPt0G66bU
				AvdegYLuP4php/Iy3jrncxX1QOelKEsW76bqxvV5dN3/
				ito+H93t50OOHr6l9iIZPl/dcFBGh+5vWnYaJF5gQgFc
				L/oq5Q5QZj0sFBK+2779vlfvu8tmi8GbTlilxbJAowK0
				4+g6tIbejN+0TW0l6d1XUXajVB+43sHkBOriwLNHFLPv
				UEc3C5usNGUH9n20XidgTJrMwzXT3KiEHqSfEvS8olJ9
				rp2NkC7bD9BovOYJ/1XHDWrhjg2dx8+hobn4q47ftESg
				zkA7ABuzzc1fdcIkkee7NpaqDq1A+N0OGMrW8mR/nt3t
				XeF3O8nFJTwc6Pqu9q5d3XedvGJ0b3/C7XN6x2WzlF38
				egLCHmSewC5obXqnfgMlZ3rrKa25X/VrJjXyVCZRZw8z
				3ESXvupA2e6kLTg5ABOrk3/Pbnc16r0NA/H11vk94gGC
				1N469c5c+T1z0LDz1syh46NbnYcWoZ86a8a8VKeRWA7Z
				Rcrvd20Q3v3W8cfqVP+rztn1513+jj1WrO6nDohuve9C
				nX1unf6rjutz2dhttc3a+GtcoBMTVODWiY/WZhQKX3UM
				Q8Nf9UOKP/WDtzrj1xhdPHUO1aHR9EIrbfxfddKctIIR
				o4Fm1TBj/n5XLjVYnfWzvkCW73ZKnDGpDl4znyHb1Prd
				Tl3UpAlLVKrnhejffW4gN1V1irBQ7zq/6/QVZVdRHXex
				2ZE2/dTBfGyDySCM1/y06dZXHYjBO6sOp8Bbn1391c7C
				Qp63nbIH5PW//T25PcOl4O1x+6s+CA8B3MaIedB7Z/T5
				qw4k60CKC4zFey8u+F/994R7GtXQL+GLrQv431cdIPaU
				tY9GChcMrnL3woWj0ZT9t79/+X48e0/ecqmfHBkj1M06
				3rXFYxm1Pd8soLT9XS6nyfDXg10PCbIG769GuxIW1p7v
				gmISsfv53+Bj76f9xbVfffxp4a+P/+IDzjN6cL4mQPJ2
				I2dHUu8gjkHD8AkdK31LAulgo2NC7jrOL6KfM/CAlB/c
				8sH3HAJAD6WQdsfsjAANIhScl1oDiEzApdCiD32O0KGU
				jhXCwHGiDGAJa+SwfAm7pbApOmVg4ASvDGAkDWwbGgUZ
				BCgLljBHn3b0A1oGyEpII6JhMDx8IdtAsoxxe9xcMRVo
				MgPHkW1tDjlGBDtqMdPYtVyENBlLSiD7+IK/FJQxLbHW
				FeukoRVNhoNma2zDxbZbpADbISx11OnTx35wTjMn+gWt
				Lo4ZQH5SHD5HSFcQZPEd+G7Ih2h/QWRYUK9WmyBr7FeE
				/AO1HvLZRp93x/mkMxJDcQsKY4aAvCEc4zjoLEsgcRNi
				RAARAjgWSJw9pWdCRN44x1K4gFGkmRzNAFgWNzPwuGFp
				sZh+QxUFrlEpbQG0ICW/MnCvJO9KwoKmkPAt+DZ8R05h
				pYRpSFxmrHUi+YsZHakzxY7JmyVhAJB5HVTBjcqdAiX+
				hZTqSWBMKaFO2ihjAMm1lENMuQetzSY6x5Ny7ilXXG84
				H6izQsp7pfyUBGUBzfWk3uWZSkXzbacycA9KQpHO4hJ4
				Vqp040LFqBlHVASSkm+D/uxUMdaKNrG2qbmeAM0JK42Z
				3Angk1odqXVcQ7ttrtS2T+3g/rMh0YXUMbdYnQTQTx1t
				Aw5SR/2OeQKMQ2E5UFxiAnFPw8000P6IKaFVgCLKWJPR
				AJYd98dIA4Ax8A7ADKTVmqYbaWKNAO1YwZhmLpi6niAN
				pIl5mYOMLKSJcUyMeR7cw7ouzDvoT1rAkIXncDstrOGq
				La3W08IarLHSwvsW+ghSn9YjD/hffzI0QV/BWOs/qvGf
				+Dit+xn/uua/P/+XP6FxbUBX/ivW/d+f/9SnSM5I7q9E
				hH9//ns/XZ6a5J9/483/c5+1bW3Wv67678//5Y+DfJ4r
				ZM3/D/GmL+iklIsfsxnyU597jVdfzTp9664A10V4NaOj
				e0bKPlZ8++NKdSFDrj3UKMPEkXZIlhfUsIj7PIemFOo9
				pxJ261GVCDNYud4yJHWV53sfWtBU+07lp/r7vNN7HPSA
				6HJlCf3p6gs1qXsObYbv1nlj5FHIz0S5vf1WTEUZ6hv6
				Et9zjKzec2hUeKedz+lZf2qMLrC+zqHR/xpXTO7XuKCN
				v+NSv+uGIsqgw1DmQv9zYBuPmyjzvHaHnpXFc5y4eM+h
				d7n6Xseba/3b311/ZBRh6B6eX+ltT6MrNMlulQtm6cFx
				eIc6XMs1sdZpywYNfj6ggEEjfU5WLFrNtAJDdz7HK/bo
				eE+e4jPgB/Xi8W4l1fMFGuM82XnnHM0R0DGtDLgJDFyF
				rsn6s0Q/UY4qZyjuVuZKdR07Q2NxZByZHcM9RkUD0r4L
				3WHXIqv3eRrGUSHDP/NhfB3NKzJTYb6rYvzagU429oJ+
				B7yOBY91DCkv2plQF/1n2RWaDKFGPnwO48Bc8BwN8Trj
				paR567xDNfTHLCfot6t2zfuDjia7VogjnJDMkDi1tdEW
				+l0+foZqfok3HrXecp12bPEer/+ivuVbr99ju/X7vd9v
				/X6vY9jb2u2Kvg0EgPUTR4tVkIegVq/wu/H4weMuZmUb
				mLtISz8jmgAnzmG8HOqBqg1M4nwHrCbGW1I+DBWgawVa
				/sGc0Ox9uFQAxdOpXAPOgDv3Xt40ofnkMacjt3dep4cW
				iho+nKpwK4yJQRN4v1l7p81hvGPb6KOPD54xWJ6z1A44
				c9BSPbTjp49Ggy/Oabkrz6YfzANqlvPQzHEP36WxoMw2
				Vh7gB5m+K8bq7oYhFANEiFYNdGTE9dTjFISXY3aAj8zg
				NgAaYRTQWnKtqBpP1OsYFDraqHVk+oeAIIzJe9p+9P6y
				XKOhz9Hyzzi3iM4s1xPg0APE0DZoIJ6KmcEI+ENTuBca
				26kdSK52gtqpbGfzGmPysu49q+5SgC9A+cSJe8dFMwpW
				V2NZ7lSzE3rME0kY3RUKOa0ucpl9DXu5xeiOYmbFs+nA
				0T3NHw390z2l0ANBaQe48ChUdStYuHJMpJDo08jo0wKe
				cjwg9e95Aa8pAbQG2Dr8GcfRzVgxBT9ldMVNumQ8A0wZ
				TqLrjH10GxQSwNpRp9UGSlld53+/+s3wQjoTUqwpKiDX
				AZGwPPhy7JvBL9ankc7opYR56FsDDGAufRJuZDrqCHe0
				6/G58c4hxs1nQzr0E4NQLzey3cv7lFIOZnU4UPnMdf2m
				bfRjaT4fg0e0VAfjVInDHf3ZtDfT/Eice8QmQZs/bbCO
				WZrEw/Pcn/V2XO/xWFvoI4YA3iAL8ollSkzoQLgKgokx
				g0SY23ieCS4AbrOBSXJxtTUd6AfhgnQk0AKGY0zEK2Aa
				4DQ0xs8ABhvqLVBj4PaYBQx/Pd3TNV08Sj1Ue4ZUZvaz
				6RyIewATSpMEkpernNfMcN0T6fCboA+VQaggVXZe5rz4
				7AHJGbh+JnFBOLbV/gCeY34BKa2lO3eEaYyr7xJID3Id
				gbDJmfR90/hfesTomcFwxwU42z78lAN98Fh/t5nlEKvi
				m7G275hcO8MpB8RHmbvoBz6AHyBpI3vDnIEn9tN+5q4Q
				QtemsbwyQB/z0I/RqfiO1z2MDKZVeYpHbpqzOD53xgtT
				DGUmZkIQdJy7SJEJ7wKtQFUcMVfjMYoxNlg12mvyVGAO
				9i70+INaUqAwfslwnGr8kzxNEqM3fpOq0eYwk2jZATAY
				X6o3iuso/uDlP4nR2+J3oLc3zeGFU+ERpzIZXr00ingV
				H8PLzOyTAlxFmTjl85kW5EF6ALoYDd9BMjBVeB6cIFRa
				9xlodUS83mcBqhOwkCPW7b3mPKF+ODC9yuwHXoMc0rMi
				7LHWJAfRYOWda8rRwZJagOqgHJiTZxbBmwNfeyhLgjdV
				PzTn4k8MrZyCDwwOY/V7RO8CKDU4Jtg2lwVrDpwE0Rg+
				TcUN9EN3Tyutqm0sM+YGMivfux7pm0/t+4vWMxWB3OWI
				186Zht/ka5UEfAXFTwBON4Q08Lf+JKzXAH8GfYGULJ5E
				5w0DW1Kky4YWOt8T4LJC9ld/FXkA3s4gFHA7uvGiZqn0
				SnwAlnlv/Fbv4LpitKAnek5JBd5kAz1LyROye/LguyA4
				QBTJBJMZAdXXvVYY8zgBV1/0moL2nf7yE55jvTrXrpez
				X5qe0iE4C1bYN/FP0Bnwn8pOLMIOYB19hj5yrx3iWgvE
				QaxFXu1IO7ryjWfbkJFsLCBgMTKrA0f3mBB0+brD2kAS
				a0USBeaEOAsaATF/7qhxzd0XQNV45StTEBfBzRozaMRz
				Fp6NFzcYaZrJFrHGRbS3cdy9Fs01IfSBTjcwqp5/YAJz
				kLQuGFPvcfehnB/iSnOUTyCnLSUayAy/KdMxrmlW+UPV
				LOuYd5OBRkR17+nj4jw7dzo9qpJXyJvAD/DORc0F+kF+
				xxxAe2uMDDgMOgcz8YB26CCZ86r188b3+D4wI0dZX0iD
				eVLEC/sq+DsJ2hDFmEkYZizWhXnSf2pOAPWt2FziU7zn
				VGjwrV9l8hvLFeIY8c5q79wN7+xC4KOYkHrLNs4k+tkg
				35BUNLnVQEehcpD8U5+mnEF9FfjQlADURiP+UT8rK/ba
				0oQwB35IkdzWN0Hk4dpOvcPqNujyWM/O3DNb00QCniXP
				TMBCiHm+cGrtpI9sh1Jg0MULdxhOntBfuuA5LG9w7wi3
				wDvCJbV8HkULMDaDzXZyTTM29A8MuZYhHGa4zGzqfx3o
				eO5WJ2JeeZ1lOtl5TTgAICcNYbjDpFrcDZYr8a7iOsmk
				G/72zxv+Peo/CHwoGXThXuN4Th6+jSPvPwDUz7IANrHZ
				c5CJ3R0fnp33XDpkgwYkHwSITP9TVhZso6eXLyXxpbp7
				CaTdd15bgF6IaeniOx3zB377jd8n33l0No+kpx66ZnVj
				BCd61BSiAAyAfMTwrya5K1IrxzOiL4Rn0Eoei+iMk2+c
				/A1MzitUbPjFiAarb7SZ0WQOspXRZgaUOJVxxB/YfwH/
				ZXkzuphaHzhbcQfXptWlHciH9hkjZdCA8iP4Lwp/EF9c
				e+d/1deESVuBUeX/vF4AtdLaDNHBcZQu9c+fwRrvAbn9
				1U/W2OD1f/s7PZbPj37nKskbaSmoUrj0ZpA/XZngveYH
				rmE+mRDrlBTGVFzKB066D9ZSdSWfPArQrMAZWoCgKkgu
				bB+5ELKEl0Liqa8BSHema1q6OQgZjxO0QcMspqNDhJuy
				IXTB55Tt4+L9y9+NL4BHXVikjCTZBSzo6qPAg+HAkCuv
				g/c0jkn85lGou0yCn3GV3+PyC+P6qs+xQSZ45QqorZsR
				XqNAHyXPjJSLCBdMeO3i+QGYANqHSQCvnM/l98BxRoUB
				cyvRfBBvoskcko+AwuQbiqF4ZQDI0rtBBhgmA6TM+z/0
				SbIKdIDRrowAPWVVoxHqi6P+CPx/r2ENdT/+xX3GdUbD
				H/VVsi37Wp7egRu+FNCBRhkQKKBYHMrnSvXswBlv40v+
				PgfpOOO66ig9FCilc0rGkCUSpGDjlY8Ftx79D/rpJPcT
				MVkfUrlsVngjjw6io9qst5yCva/d6wFio9ZDMmrT2KgN
				oXVHfZ12nQp+S1aieu65NFd4Xu81k0+ADnOD8gInAaw9
				Gn/DtJEIBPWLSXUMumMf8O5Jc9EgQgJFhsmsxvcgO08G
				6IoOB8nFHqLBQ11N/QsT1+ZgaA/0cdp3Cij0XADJzThp
				ihiJQp2ibDsN2VDsiP8P8B60iMEfKIMHbiKabBPUYxj8
				LZ2E+g5A4MwvvR745LLkZK6H9GtvPITC2YOxQC4QHmss
				aM5xvh/GxGSQq1cvb8DBPg6Fpt6lJ+wv/iLdnLIY3+UO
				3/vzPvcY/DFRPpMFSrExuuFTcTtDji0lUAakvA5CtrA+
				ZYH4/eiC0bEPeY7z6ith0Bfw7FyN93EuOuijswzZ56VV
				AZMGEZH22YoJLX1ZBB/kQLNF8hloqorQjrE7X0j7pGfS
				PmHpz0y3GO3VG985p98Sz3o5lZONn3327b4bcl/wZuOg
				UJdcGdThZiUxlk1rU/6hjZI2aOIQxRzP3QocpK5sugwN
				FX4vXFffHl0nLQKdIY+9dCiQpxDgWiBuAbcP7oPuqAy6
				n88It674T31MPqavZIGuqh7BAHxj0I7ZlDA9+z1f4cqr
				EHjnPcczzWyxoHkZ4MFEAt5b7qee0xhXZfvJ6ZzPMRqf
				z52+pt5tho16SAtVzie1ovrfdJPWcV5712ED9ploTCr7
				sUc9ilTdkTwTiOjjF7yCr1DGLNN4OPnPe05egR6VcU7r
				tHlu2cWTA/xgLQC+J7RGndFkTcjD8tMQNGTnDNK/ZUch
				/m+fgOrgVRlw6NgLs6eEx94ZpM392Dwes5t7C5W0cclR
				Y34OSjNMSRh5696hrbcA36B31ELdH4LjSNLTyMBE0yBL
				A9bLYJ8+dJLyeDamintBMrnxZg78M1eQ6Td4Ebma+0Vn
				8XxTJkem22IOWTCpYS33lilj0MYOIT+zDembkjujZ+TZ
				TKZvSy/CECGeCgYOYZHnACnaD90wu47kw07GzHog5byH
				xaW9BIxadkXKSnpWWZ+DKX1VZXfhkfoxfQSE0/gFp9Hg
				lNH7qk+l8T4vnXpJp8ZEr2DtQ2Bot59/th0NX/AGhiGi
				j47Rw4Om2wkp4c8xLRD3P8fyvhcLpvfmh3qYsxSQcfsg
				zRTLqvNq/U7/85yBf22g1NxL+LMa8OeFt0yfGnli/Vlz
				xlkajoi3ez+wdi898iQqmIeJ9aO9g64OrCOAwNYPIF6h
				KaEJ1yDtDNpXaMmDVCUH1xnQEMAuwI89jYieaUhWzvTF
				VcFp+4YznwxOAYqMtJzUfTEOJuTLth0xBgrP+9JSjGr6
				HhfmHHJghKzyRU+vXhMgnkC2GdI3s+Ql0dMIfXFSJqev
				Nf1BTwueaz/0tJ8xbl2nuszco58IJ8e99JSJpi89ddIZ
				+z03ekpBF3IsUcu9dPW9xl06SF/dS19Xr/+Kvtq5Pe+c
				0Vno8g5Ura5hdFaw0U78obPkA3xfqkZvD+e1US/VXLeR
				2Nv9kTfi5bV0EmdttTFAmalsH2aB0FgNiQiwBrkbyosZ
				4+n/ZZ8oepvfR74Z+n/4HPjTkZ26jS1+DvoH8Z1OEJNp
				oLeCd6KT5Mvgt5P8lsIQNALKB9DpIDFS9gOwCRYz/RS8
				1iFTZPrQsmDV6V691+kzDrQwdz7fXLU2GqeFUmrtgNCY
				WTctZr6Sn6sd2hYwHb3pXqahGTLMlT2ecWUtbmqE97Ed
				f9uJg3skePLaa4wiTSL9pTD2xatABVulaUFynNlcps4n
				543EpJcDyKEjenNbiU+ZXk72h3ZhvdN8iIAkEjP1P7E/
				rKP7mZnGY2hu2s9z/j4X4urvvXccvtg9D9BkO+7ONY2O
				rCsb7J3n2m2elVeLuXivk9laylR73vukru+cl2DP5f77
				uXrXLfzZXrN3Uw5728jDruX2059TzyZPlE0Kc/zhwViX
				07dkvSSiz92vKG86v5VTVoOubVsvujlPHSnSkurBBpzx
				HMItkNy9stYjowkAPkunndIVIEHRqzpdnTcGwwdukgOZ
				oabTPu1QLr7nrE999kAGIa381KHPpdKVYff3UkJmTWM9
				bx3HclmBNsxPvXAYh388lMQSA/jFcPLbVqrBmDv6iaT/
				024CnTRz5ijRRoqS3JckUn5lvAtlGadUEcpLJGrQDaA6
				dBJLzi8ZBcpnDYiKP++IzeBoM7R6Mu7f3gHhxd4BTgr6
				PFmW7TlDGwQ8eNKAZm3gy17VdaBrSO6DmvAo46wyg02u
				dr8S3x9ptaPfq9ocdM7lQx+KN5LC1A6eyw/s1WdHOGX6
				BNvjQvHd6D/mtvRpc02a5hnjg5mgzfWYFfFmKLlg8Qr1
				pm1mbZOE8ZLB474lX+5jcp9MwhCSV8esBfLxcXynvuqY
				jUmaUkm3KR/SVv368CirvedPNb+96S52nBlzgwr+1Xnp
				XXDALgrkE5TVATQc/SfSSx1jWz7lYOUooyfeAB2P/Iwy
				M+ZAR+rlIEDalYnlDTqq460HMsNNZ+IkzPq8yRUZgwKS
				xfgM4SGTUdXmHi0znoNpNhQpGQNDnYyeqkl/HrcpuMcR
				705QXj58xc0M6y/HvWORTYqBUDomO757bkEOuuV7399j
				sOO498nHKCaNL90zXVk9VVuzAP7LWJ4YQE8x37EywcXm
				Ow35Yiv1LMgiWqdpMP7wHnn2OwcsJ2b3Za1RwxGyyu4y
				o+M83vPImDLOw42VSjcXt9x9sRQ3YCms3LPLMaqDf5Qr
				seZe0vpd7ynbj0sZawsdqtN/E2ncufASknQiyB0FfZRP
				DDxzOYr/wV+4+4pPeYJ82U/Ksu92xVDc8eVotgW2QRuX
				+QeK6gJ72nc9SK3n1VN6dhYBYroz451OpcUwcuie9G3K
				D0T5LkiOYyCZ7MmWwck+yeZKvT2S3iQm4Hl6PtHNHSN5
				Qz6usulQi+P2gJSJGuowJKnuCLV8KVuF9DViOUGM/XZL
				ZNzxHffdsvfSbYfyDOYrfIJTRh3wOKo/XjJkovcVhFB9
				wctBUpi0NZi7z/6WUehTpZr505+KYUNh+N2faf1ZuEaZ
				rqTf/m6IU97KPVo8lsGwbCHO7Lyi2ROiorN7NJErji3e
				e0/FiATfaV/4LoBpoH9lLFNhLpi0C0KW1sZsZsVw9ROL
				Qx8oYJy8AsCKKQIt5s4dR/oMdSdgnOyoEGUDTSgFYutg
				3jptd5K7DnRgwGxOBmP2HsiQUAjCl/6fyUeeYHMklLBY
				CoBBhXzAGMSamSsGdHZGP6sznwa4PeqBFlOXpS+NDIYi
				AWS8RB89U7pto0S6e04Zk/F5fE8SHvDZBdpQFReTvGKq
				aJdy4PXf7c2v9iDnJW/z+L6L/A5yHvGBIsVT37E8/iPH
				kI+AleV+18V4hexZwk7HeAG8u8mJYPaV+IiuO1CWWprm
				sr1r5hgjAGyRSbtFkleOdQbaO8Sk5Zdl3AFjmjCfPiT6
				oYFntIHqepBdTPVpL59UsLzpuWA9nde4q6VjAiOgSPGH
				oJ904NjEgP7MKLP7Q1l0xOYT4Ii58u7kzfi+AfkLZBc8
				k5aTwJxxXqO1cDK2dGHxM46bqqG2mshM8u33eQBUfP2j
				9H1v6PyK30pHcTyYeHDXGIBN7o3fInA//TN26d2jcUcM
				LjxDVk/a4ugmC8azu44WB/Z5zp3Y0A9NBmM0O+prx0XK
				iIo5MF+Y0PABhqBObZ967AfpLoOkvX2Hp37hgAfmuP2y
				D0eDg1eGoL2Y8OCY8Zktngfzcxj7xxjK2UrjmjCOBvjT
				KhMJoYVRzgZ98cKLbfAe4ssbIftUl22/CpeM/xbFz3jt
				Dki+Ws63PKRdGtnP+e5vQae6JCjF4URGcJEP0+6X5S0X
				TdpFMhzInWLCPRkgy4wlj5CUCT+JcaBO8R/Qi7kxlOL1
				KhQCnoM3AJY6TR/APQUcZMkmaaheQ72AOo1+V5Bb1tP5
				lNyYO+oGWhwYOpSy7M5NfFU+fAYx5fpVFs4s7VrqKkGY
				sTdxRSihjC+NVXKSRJYsewFkEIfpfBg3PcnraZdEu+hd
				Y2waNGdfZx4MmFrqI5fLzicdTFStcJ9manrhUM/Lnzxp
				ZY6KmA3HopGWxSQTjhbj7WoyuKXy7R8lsAtnPA2WjFtw
				Fp/KxPNXlCAM8h7bokMkVGvroT8lMljBBPM/n7fNSX6e
				n4SQOz5tSmM+O8XQDcqsx1LF0703tfaK9dbOv5/4Z9tB
				uH6VSbW89hy9Y6k1B5t3Os6YC+8aAdLW/HlsLjEv4wA7
				FFNFGYy42x3bRpmGzHnrARYqx1k0J0fuKMKH3sEUB7yP
				sU+ePg2QEMo1klfrLddbpty+USYSg05U2rVWlHWQdmq+
				u3I8uD55rRlsgIGyLuSPFyboyn9hwvvJOcF97apMrRvo
				+hN3Uj7xcuXGv7379nLes1nstZ+xtATu7hANb8uNGy9X
				3sjvccnn5mU/geIpubVBNnfcwcDWFddnNtvReM8dzj97
				Kd82usiF2SS0MYQj/4JcQPsl9aNhMSR8fjlzfbTHfNLB
				y4d09zTxZdPm5WzO+53zyjnvKL82KO4lJnt2XI19npR1
				JVqTuOVXxqGdP1Ena+LPzfxJONJERo0VvXHXTpSu3sqt
				Aq4sCy40ZDcAjkBjpb/SMXoL2A9e6bnpdalBtlUrH8qR
				WCuvuH/SZIvBPZR/puvindNirxjv4Qj/mb2WDc5i+sCK
				+rL5quvUm1ejvIA8IY97buc0vO4F5rtKxtcmJdSXCc8Q
				TB/6NXY/4iwaF/eTuc/IN9aC4X2QhbPSHhLmWa0oFrJa
				XbbZGm2iFbK3XXO8Vs3WXkghs2QUyFgY24LQLL5yJGDT
				h2rHSh8v1XXxFunoizaBWaWjYyLH1jGOHbrBlSS4ajFu
				is9MiiX86NQgzCWAw/MY3d1dpE6L7YccDVFA/P3ltb4b
				Lad3fOLdkLGh2HKDPijDWbHaB7TKtiyhPbzREbiSv7hB
				jU12GVqLpmJ7uUVh8P7q2U9psn0kuX0CR0BaI4eS25pv
				ns97/60XL76915++n/ee/+Me5WUycL6/3ve7YO9X8Bhh
				3xnsi4Ms2fZknyJv8ynoWUjhbd05gDg5uB/FOyemD9fO
				Ml3PhGHyed/d8BZ0q72BpS86G2O8sudjFH29eSFl27Hf
				8ps3AuFaevwbqzIUb+5G/La7YqWgA0K50SZMFpvCOZ4M
				YhgNMui1NRTFpATu8aN+GV8U3BAkLHYS1OUn1pb44TEv
				9foAea58IxkErR3qvI5mHj5f16NUHYbtMz67FNG81zfO
				NkAbW7ztuX64qZuBH3QF7qT8mO0rSt9gbgAYOa87xy34
				KaP6E+ai/M+cIACCNpkP8d3+vK/Its9SnFR+z5mTRJ+p
				4gsBBbreGfdgc6EdxvA+i1unDGtwLXtABU3OkPYJv8Zv
				GBweZDvKK+EI2Ur+qSkfO/GA9JRbHukHAorZFi5OQqCj
				HnXUHv0329rBsf16NtxnneLkFQu0cb015kfgWMz2+yfc
				rMfoyZ4XrrhDFJGqWf4Rtz0yuJNij8HY8SSjP1vCgNGU
				AR33K76hpEZ77QBkmV/lfNfdjPGO9EEpjoHzNidY4Y1h
				qEW6uW1df9v+xNAH3NvcxYiakOEO7STEVcWmKV0ilkzf
				TEQ96nZO8zWEY3E9n3iq609E64qFyMrbpv3hN94IV6o2
				oxLfAKw1+iQZnw+8pkH3zTf0LcgXzO1R9qWPBRrLlMkS
				lIhxPsF/aAzZbtqgF9XsZU46OthnNYFT/tMWbe4idTDo
				1cwTlFzTHnHTShzq1ibHpu0PgcOMoQbUjrevsV17seDY
				fegoz+ety/fVmJSp8I63VOnMkGfWMwJ/eSKSnS/HKFLi
				SpYNYJAuTotEAzNbqclvS4p7Y3Nvmf0i41UYwF4pkZ7S
				T//G9y/5sFpgHACtzfRNb9nsFveql/9VBlLG39Tywkan
				KQlw1/yBzpnpf6CMjuuZPowBPSXKFkCLh7s4Mat+F+Hj
				B4y2Uz6Uol85efTAmvjwdIZDtXlh9NpHy82LZHx4SpJR
				VvvQ33QuLCjmFSs/+KLaYwa8ZOlVdP+A8nUGZF19CuVI
				kiajyl0Lj7ExrJl5PFjznJSai2pT9uj2xt8xpwqKkIw8
				lFEYn8E6kr3wbkg3BnNQpR2322rLRdmwGHYCObDRTQkd
				eN44Z/b3kY9mUmdy9HsovpDSEvhdu7B245DHlJ1qu/q/
				Ngeh/MUceJuD+cccbP1WwO85IE5Jjkj/eg5o//xHc+Dr
				X89B7T9zMEAxHDcEJaWjrgSd9B3/BFxVwGrKbrfH7FTe
				xeGG9hfWbvYYylDeI3jT2ZZrxk3dFMfqpK/SbQM5wurQ
				7GPvkVImszXL8doEuRUe26MsS/+26t57aEZtlJk+beg6
				300FWDaah5uPSm8PzJ6i4gPZGhDvTX72H/lZum66ZeXX
				NSbrmuwKOu6D4oL4/HpxiWhEnNn1g0ONZcf0QlnU//b3
				jBl1b6yfxXd/cvhID3q7saDM2/BfOaJPZrxCckxBdDTt
				ktGDJrrLl+fNh1SO0ZHFjXIeN+tj2d0yHjqvfIlzbkib
				6S84+1h6AZRR6iK0ZSv/r8mP2N2Wv1U5oc18zpJ5681r
				e33h5PuuOyVvECYilRNaUgBvNz/jfPxEwJM1izvJ7j19
				nKhcWCZx/PCm46F/kkAwDsrf+BLK3hYHRdkI+gd9erne
				3BjFKj3rkxfzKFfosbg5mlIC1jL6otwTwkWVls9VvXEr
				fzzHWHp6BME9D2PqY1ZO1NxuhQW65AlMOT+WG5UVezpi
				/siOifocB/UVrwMNrDHuRHlawPCT35wkZz6OG1tlWryv
				e5s/mD+S9GTlVlh+QkMntsXQOu67m5inLHLgervx3m98
				FSXGynjRcjKPh8K4zQFjOSUTJtBP5brRnkiHjpuyOYJz
				B8Vf3DruLBC+PlpSPAJkxRIei/l5rN8n60dQdknUrai3
				fa0rmLBkyE+M2tfagv4DICxGrfwRo1ZujNqVPStkbCg0
				WPubQ0YzV+A2iMoPU5z8z1xmyn/DsW3wzmphAhaXBS7/
				5EYfbGG+RdRPaECnifLL5vbGgm36gW/eZD3U/7LrJKN3
				rZTDZ7yeOPDJsaSwzPfu+943Hox9euPBCFeZcHnXpH/B
				Jeb8Jx6s+gXWG/LcWB7IDBiG72/cYKnNa29mmQV3SHNK
				BqUfCtQI8gxRUvFYTvkMUbFoKViO5rOanCaCNe5xgGdB
				FaCTNMZIXFh4KuCOcJDSoTHCfBnFbLeT+aYTs7aN1pXD
				BRFse62Lt98rY1u0aHNT/i47yEen4O+lMF4WUGG+Usad
				OZuvRj/TP5qnyHzZev3JzDe9saWEL9GNyDilsZriQLwb
				/fmd09AZQwPJDOOmoYRR/pjvpHxqsCDmGDQI0MHynj55
				D584f8tRCYqH+ZMOeaMngxvN5xt/6xZ4HGSBr/y0NydP
				8UKJcT8k8usDd51xOjeeKPblP/l/Vb5GbrM86O1VngqT
				8BmORNq0+ktbmIfTQOvpXmgZx6ojAzdwvZZydciOOodj
				SVwmpxyBdnMERO9o/XCSySl73Ph+Gjv/wGl895vrwDZJ
				b4RntDPf61lBUzFStgw0IdNKW42uxtxl0yDhY66Awzs2
				QHQO6CSOEUxQBpPggYJ5JWxShrF1cc937tC81350uXaC
				wYMfX/mK1Jk/8NAuPEA1lx6iOebWGxZXJtVD8OkVm3+6
				6EAD/3u65WR1+ixAQOn8jNvnx+iO5w613DigS85l7LZi
				Tfird/QhZ+XCvDqngwzjxbssn5o8zUlqsYjw4D42i6L3
				V3u/P9x+0/hfle4PePsTh5zhEPSLta4skp2tCbdLtv7K
				W+ne+9/08uoq7Ltrzfo1mM9E3yyekQx7YXhzE2bRSQbt
				7ufPXCQmTtIczryPEqjn+mA/bVjNjoC+O3Cfn/Fzf4OC
				dgATmKOsX8fy4aPnEngY2/ZYztKSrCvbpGQb+UqYqBzl
				CNP8MGbv5TPcS1g5aPUDRyAeX7ht+W2ZAdMgqNzjmzGq
				H95KG2gZijNfuUIX17wphlXRfbQXMVaOPnHimmK4mHjw
				VY+bR3zTCMbSasbSIvDRli79gLpm5d4CdJTw2cwQKBsT
				3+WP5dGKH8p+CTqRnx/a8ChXFFTP9gDQuP0/Hbdyjpn3
				qHH/cY/6rdzJ3GYJc6H45e25a+jzroNkCjTx5xxQHvMJ
				PIAaIc16dT9/zgH9mcy/RHnPtEJPkleZufXGD9sc9/V8
				t90oMFfF3ylvhO9+7/GXWH7R4wl+bbvqPm98hQNcJrqU
				6hfNQNlyt6uXjH9+8jQr+vlHHqNyzEW3GdQCGkN4Hs1i
				f7mPgspdscWVQTA0tI3ByHzJBFMxfrQ5Leb9upnf/sY1
				LJ9Ym4CUKnupT18y6KGVvjI6mHY/evqZo965+UpTjF18
				f46RUiPkTyjFwhHl2JANBAwJ/aCi6C0m0+LwgsEhBSS2
				xeeoT725fvzJPtSZOJL5LfppMVTF1tJ/Dr6P9T5vfch1
				TQa9TLm2bVqGLG+/fWCWuQqKb+KPkVJ8SVl5rKAdymOt
				3AXrMJ/Bt0a+W6rhJ/dpEH4Gw88QZMVj9qaCJryisTAb
				2fYCYGwB+jHfvVQk2wWLg8QidGd7pwzq1ZApuQz8iVHL
				IeGGXI6zv2byP21TN5xZPceYf94T5wJaSv6CVrm0DwrH
				pprEzzs2+acSY7uUj8jdNJhDWWk7cIzwbtz69h6z7QFU
				QulXj6Cvy3el2VtMJTMARjf7gt/QRb/GxHEEbuj1PTaM
				CYLp9BT4vPkSnCIFhH/Ofr9QydcPfRW42/h+xq8orhgi
				Kd8NWt8VX1eUl/3MQvdBsTiJSpt/9Bt8bMnWu5UrWpQf
				3JiLQCO5Yzz123d5hFKTb1c/0dfMRvfYnjxNeZpVP0QR
				QWJOonRZPjHFh/qsB6Nu+ZfOHs0GS8cZdReLq9Y+KpEK
				uPmcvviSAS/t/FdP/p94HW1pkLbnG9tpNqr4vP6AR7b3
				KPl1nRlufNMzb3xTMDmXenUF3j2MWqReSjxlRsvXvRLQ
				nxWrYjIJWysy79ji+eXDII+zeESLzTQYPYA/d+M0aQmV
				P6caz3fPrU90hLZINyDGUi3ew35OlB5Axc3qR0slQap8
				LAbTYmzfPDD6Ofvos//t7xXKS/jsQaFYSvHluRQvK3tX
				X6b7Gj49hXv8dJ4DR0JadTNPmRmq3OcK58xfAA8EsaSN
				NtE6ormqgbnFX/sjkZhxJ5Ri80A9jTtEKF63/rz/rc9+
				HDc2936if7q+cSP1UfzH0vvogKiMHa/yk7YBeUXd0z5S
				yt2HvvnpQ9Vebt99oqwCDBhLuZ2gHQ2C3Hzp+mTArNkK
				n5nfNQaMjkC+NPWzm1dXYaYPwZixVIy6YHg11neubT9m
				pRgzxr80yfXcs24yl62d9l3n+aoDXg5IvfsSAfZ9fP0A
				6JfeS4MGhgzY5S9CbDkdatMSgy5tXmtV/mJuiaD7jmXM
				DegekNH4nX/xFDwXc2RyhPmquY7pzzp3LY13QzbmHpTc
				Z+rdI4P6zLD9t97Yudxojwddv7q1/ItZsb4kdM72KHr0
				nO+MvwVcYm04z+95h+bAmDMmIChPf1oMJvFxeOHqhpQv
				H1RMdmwp3B/wtb30XHTaZ019tg847t/+Bzo5XJA=
				</data>
			</dict>
			<key>IOClass</key>
			<string>BrcmFirmwareStore</string>
			<key>IOMatchCategory</key>
			<string>BrcmFirmwareStore</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
		</dict>
	</dict>
</dict>
</plist>
